/**
 * CSS stylesheet file
 */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 6px;
}

ul {
    list-style-type:square
}

.bg-blue {
    background-color: #0053a0;
    color: white;
}

.bg-green {
    background-color: #008000;
    color: white;
}